.blog-preview {
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background-color: #fff;
	display: flex;
	align-items: center;

	border-radius: 10px;
	width: 730px;

	box-shadow: 13px 13px 57px 0px rgb(11 6 11 / 10%);
}
.blog-preview__img-box {
	overflow: hidden;
	border-radius: 10px 0 0 10px;
	user-select: none;
	overflow: hidden;
	max-width: 285px;
	max-height: 280px;
}

.blog-preview__img {
	object-fit: cover;
	object-position: left;
	max-height: 280px;
}

.blog-preview__content-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	max-width: 450px;
	padding: 4px 16px;
}

.blog-preview__title {
	color: var(--dark-blue-m);
	font-size: 20px;
	font-weight: 700;
}

.blog-preview__text {
	color: var(--dark-blue-l);
	line-height: 1.5;
}

.blog-preview__footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.author {
	display: flex;
	align-items: center;
}

.author__photo {
	max-width: 40px;
	max-height: 40px;
	border-radius: 100px;
}

.author__text-box {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.author__name {
	font-weight: 700;
	color: var(--dark-blue-m);
}

.author__date {
	color: var(--blue);
	font-size: 13px;
}

.blog-preview__share-btn {
	z-index: 20;
	color: #fff;
	user-select: none;
	width: 29px;
	height: 29px;
	padding: 3px 3px 4.5px;
	border-radius: 50px;
	overflow: hidden;
	background: var(--dark-blue-m);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blog-preview__share-btn--active {
	background: var(--dark-blue-l);
}
.blog-preview__share-btn:hover {
	background: var(--dark-blue-l);
}

.blog-preview__share-btn-icon {
	display: inline-block;
	width: 65%;
	height: 65%;
	filter: brightness(0) invert(1); /* makes icon white */
}
/* Responsive adjustments */
@media (max-width: 900px) {
	.blog-preview__img-box {
		border-radius: 10px 10px 0 0;
	}
	.blog-preview {
		width: 95vw;
		max-width: 350px;
		flex-direction: column;
	}
	.blog-preview__img-box {
		max-width: 100%;
		max-height: 180px;
	}
	.blog-preview__content-box {
		max-width: 100%;
	}
}
