.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 1440px;
}
.main {
	display: flex;
	flex: 1;
}
.footer {
	color: hsl(0, 0%, 42%);
	padding: 5px 0;
	margin-top: auto;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
